@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8F6F4;
  --foreground: #2C5F5F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #f9fafb;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
